$scan-width: 2px;
$scan-crt: true;
$scan-fps: 60;
$scan-color: rgba(#000, .3);
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: .75;
@mixin scan-crt($scan-crt) {
  @if $scan-crt == true {
    animation: scanlines 1s steps($scan-fps) infinite;
  }
  @else { animation: none; }
}
@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line == true {
    animation: scanline 6s linear infinite;
  }
  @else { animation: none; }
}

.scanlines {
  position: relative;
  overflow: hidden;
  &:before,
  &:after {
    display: block;
    pointer-events: none;
    content: '';
    position: absolute;
  }
  &:before {
    // position: absolute;
    // bottom: 100%;
    width: 100%;
    height: $scan-width * 1;
    z-index: $scan-z-index + 1;
    background: $scan-color;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $scan-z-index;
    background: linear-gradient(
                    to bottom,
                    transparent 50%,
                    $scan-color 51%
    );
    background-size: 100% $scan-width*2;
    @include scan-crt($scan-crt);
  }
}
@keyframes scanline {
  0% {
    transform: translate3d(0,200000%,0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}


body {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    margin: 0;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
&::after {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: repeating-linear-gradient(
             0deg,
             rgba(black, 0.15),
             rgba(black, 0.15) 1px,
             transparent 1px,
             transparent 2px
     );
     pointer-events: none;
 }
}
::selection {
    background: #0080FF;
    text-shadow: none;
}
pre {
    margin: 0;
}

ul {
  display: inline-block;
  margin: 0;
  list-style-type: none;
  padding: 0;

  &.scanlines {
    position: absolute;
  }

  li {
    display: inline-block;
  }
}